<div id="projects-index">
  <h2>Projects</h2>

  <ul class="small-block-grid-3">
    <% @projects.each do |project| %>
      <li>
        <a href="<%= url_for project %>">
          <div class="project-thumbnail">
            <img src="<%= project.thumbnail_filename %>" />
          </div>
          <div class="project-title">
            <h3><%= project.title %></h3>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>
