<h1>Projects</h1>

<ul class="projects medium-block-grid-3">
  <% @projects.each do |project| %>
    <a href="<%= url_for project %>">
      <li>
        <div class="project-thumbnail">
          <img src="<%= project.thumbnail_filename %>" />
        </div>
        <div class="project-title">
          <h2><%= project.title %></h2>
        </div>
      </li>
    </a>
  <% end %>
</ul>

