<p id="notice"><%= notice %></p>

<div class="project-images">
  <% @project.gallery.image_filenames.each do |image_filename|  %>
    <img src="<%= image_filename %>" />
  <% end %>
</div>

<div class="project-information">
  <ul>
    <li>client: <%= @project.client %></li>
    <li>description: <%= @project.description %></li>
  </ul>
</div>
