<h1>Contact</h1>
<p>Hire my black ass</p>
<p>Take that, rewind it back, Ursher got the voice that make the booty go "smack"</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <i>Sed ad bona praeterita redeamus.</i> Erat enim res aperta. Graece donan, Latine voluptatem vocant. Nunc vides, quid faciat. Graece donan, Latine voluptatem vocant. Quod iam a me expectare noli. </p>

<blockquote cite='http://loripsum.net'>
	Quod et posse fieri intellegimus et saepe etiam videmus, et perspicuum est nihil ad iucunde vivendum reperiri posse, quod coniunctione tali sit aptius.
</blockquote>


<p>Duo Reges: constructio interrete. Tamen a proposito, inquam, aberramus. Sed videbimus. Itaque fecimus. <b>Nihil ad rem! Ne sit sane;</b> <b>Egone quaeris, inquit, quid sentiam?</b> Id Sextilius factum negabat. </p>

<ul>
	<li>Sed id ne cogitari quidem potest quale sit, ut non repugnet ipsum sibi.</li>
	<li>Indicant pueri, in quibus ut in speculis natura cernitur.</li>
	<li>Sin te auctoritas commovebat, nobisne omnibus et Platoni ipsi nescio quem illum anteponebas?</li>
	<li>Cur post Tarentum ad Archytam?</li>
	<li>Quando enim Socrates, qui parens philosophiae iure dici potest, quicquam tale fecit?</li>
	<li>Iam id ipsum absurdum, maximum malum neglegi.</li>
	<li>Hunc igitur finem illi tenuerunt, quodque ego pluribus verbis, illi brevius secundum naturam vivere, hoc iis bonorum videbatur extremum.</li>
</ul>



