<nav id="header-nav">
  <h1 class="logo"><%= link_to "Jai-Lee Egna or Something", root_path %></h1>
  <ul class="nav-links">
    <li><%= link_to("Projects", projects_path) %></li>
    <li><%= link_to("About", about_path) %></li>
    <li><%= link_to("Contact", contact_path) %></li>
  </ul>
</nav>
